@font-face {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  src: url("../fonts/ptsans.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans' Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2");

}
