.header {
  background-color: $primaryColor;
  position: relative;
  min-height: 56px;

  // @include tablet{
  //   background-color: $secondaryColor;
  // }
  @include desktop {
    // background-color: blue;
  }

  &__logo {
    // display: block;
    //   text-align: center;
    position: absolute;
    z-index: 3;

    @include tablet {
      text-align: center;
    }
  }

  &__toggle {
    position: absolute;
    width: 23px;
    height: 22px;
    top: 17px;
    right: 0;
    cursor: pointer;
    border: none;

    @include tablet {
      display: none;
    }
  }

  &__toggle::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 23px;
    height: 4px;
    background-color: #81b3d2;
    box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;

    @include tablet {
      display: none;
    }
  }

  &__toggle--active {
    position: absolute;
    z-index: 3;
  }
}
