.header {
  background-color: $primaryColor;

  // @include tablet{
  //   background-color: $secondaryColor;
  // }
  @include desktop{
    background-color: blue;
  }

  &__logo {
    display: block;
  }

  &__toggle {
    display: flex;
  }
}

