.main-nav {
  position: relative;

  &__item:nth-child(2) {
    margin-right: auto;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #81b3d2;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
    display: none;

    @include tablet {
      display: flex;
      background-color: $primaryColor;
      flex-wrap: wrap;
    }
  }

  // &__list:nth-child(2){
  //   margin-right: auto;
  // }


  &__link {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: $primaryColor;
    padding-top: 17px;
    padding-bottom: 12px;

    @include tablet {
      font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
      color: $secondaryColor;
    }
  }

  &__item {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    text-align: center;

    @include tablet {
      background-color: $primaryColor;
      width: 153px;
      box-shadow: none;
    }
    @include desktop{
      width: 240px;
    }
  }

  &__link--active {
    @include tablet {
      color: #766357;
    }
  }
}
