.page__body {
  margin: 0;
  max-width: 320px;
  background-color: #ffffff;
  @include desktop {
    max-width: 1200px;
    margin: 0 auto;
  }
  @include tablet{
    max-width: 768px;
    margin: 0 auto;
  }
}
