.page {
  background-color: #f2f2f2;
}

.page__body {
  margin: 0 auto;
  max-width: 320px;
  background-color: $primaryColor;

  @include tablet {
    max-width: 768px;
    margin: 0 auto;
  }

  @include desktop {
    max-width: 1200px;
    margin: 0 auto;
  }


}
