// Начните писать стили здесь
@import './variables';
@import './mixins';
@import './fonts';
@import './blocks/header';
@import './blocks/main-nav';
@import './blocks/page__body';
@import './blocks/toggle';
@import './blocks/button.scss';
@import './blocks/search-block.scss';
@import './blocks/hero.scss';
@import './blocks/main-container.scss';
@import './blocks/advantages.scss';
@import './blocks/features.scss';
@import './blocks/location.scss';
@import './blocks/main-footer.scss';
@import './blocks/social.scss';
@import './blocks/heading.scss';
@import './blocks/copyright.scss'
